# Folders
.coverage_artifacts/
.coverage_contracts/
node_modules/
artifacts/
build/
cache/
coverage/
typechain/
temporary/

# Files
*.env
*.tsbuildinfo
.DS_Store
coverage.json
test/predictionMarketTokens.js